<% provide(:title, 'Contact') %>
<div class="contact">
  <h1>Contact</h1>
  <p>
    お困りの際は下記のボタンよりLine公式アカウントを友達追加いただき、<br>
    トークルームからお問い合わせをお願いいたします。
  </p>
  <a class="center" href="https://lin.ee/4IAziYWQr">
    <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0">
  </a>
</div>
