<% provide(:title, "Help")%>
<h1>使い方</h1>
<p>
  ①アカウントを作成しましょう。<br>
  ②あなたが管理する学童施設を作成しましょう。<br>
  ③学童に所属する子どもたちを追加しましょう。<br>
    自己紹介は子どもたちに考えてもらうとよいでしょう。<br>
  ④子どもたちは画面から彼らの保護者に連絡をしたり、日記を作成することができます<br>
  ⑤残念なことに誰かがあなたの学童を去ることになったら、<br>
    彼らの情報を忘れずに消去しましょう。<br>
    その時、自己紹介ページは印刷して保存しておくことをおすすめします。<br>
</p>
