<% provide(:title, 'ホーム') %>
<div class= "center jumbotron">
  <h3>
    学童管理アプリケーション
    <br>
    Kids Villageへようこそ。
  </h3>

  <h2>
    Kids Villageは<br>
    多彩な機能で学童を運営する方をサポートします。
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
