<li id="kid-<%= kid.id %>">
  <%= link_to image_tag("edit_icon.png"), edit_facility_kid_path(@facility, kid), class: "right" %>

  <span class="kid_name"><%= link_to kid.name, facility_kid_path(@facility, kid) %></span>
  
</li>
