<div class="back_home">
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type} text-center") %>
  <% end %>

  <%= form_tag(facility_path(@facility), method: :get, class: "back_icon") do %>
    <%= hidden_field_tag :for_kid, " " %>
    <%= image_submit_tag "back_icon.png" %>
  <% end %>
</div>
