<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.image.thumb.url, :class => "thumbnail thumbnail_edit" %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
