<% provide(:title, @facility.name )%>

<div class="row">
  <div class="col-md-8">
    <% if @facility.kids.any? %>
      <ol class="kids">
        <% if request.url.include?('for_kid') %>
          <% for kid in @kids %>
          <li id="kid-<%= kid.id %>">
            <span class="kid_name"><%= link_to kid.name, facility_kid_path(@facility, kid) %></span>
            <form class="button_to" method="get" action="/facilities/<%= @facility.id %>/kids/<%= kid.id %>">
              <input type="submit" value="選択する" />
              <input type="hidden" name="for_kid">
            </form>
          </li>
          <% end %>

        <% end%>

      </ol>
    <% end %>
  </div>
</div>
