<h2>
  <%= @kid.name %>さん@<%= @facility.name %>からのメッセージです。
</h2>

<p>
  学校から戻りました!
</p>

<br>

<p>
  ⬇︎学童へのお問い合わせはこちら<br>
  <%= @facility.user.email %>
</p>

<br>

<p>
  <pre>
    -------------------------------
    配信元；Kids Village

    ※このメールは自動で送信されています。
    返信しないようお願いいたします。

    ※ご利用登録をされた覚えのない場合は
    このメールを破棄してください。
    -------------------------------
  </pre>
</p>
