<% provide(:title, "みんなの日記") %>
<div class="row post_show_for_kid">
  <form class="back_icon" method="get" action="/facilities/<%= params[:facility_id] %>/posts">
    <%= image_submit_tag("back_icon.png")%>
    <input type="hidden" name="for_kid">
  </form>
    <div class="paper">
      <div class="lines">
        <div class="text" contenteditable spellcheck="false">
          <%= @post.title %> <br /><br />
          <pre><%= @post.content %></pre>
        </div>
        <div class="holes hole-top"></div>
        <div class="holes hole-middle"></div>
        <div class="holes hole-bottom"></div>
      </div>
    </div>


</div>
