@import "bootstrap-sprockets";
@import "bootstrap";



/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@font-face {
  font-family: 'cinecaption';
  src: font-url('/assets/cinecaption226.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* universal */

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  height: 400px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
.logo {
  float: left;
  margin: 15px 0px;
  height: 30px;
  width: 180px;
  vertical-align: middle;
}

.nav {
  float: right;
  display: inline-block;
}
.navbar-inverse {
  background-color: #E0FFFF;
  border-bottom-width: 2px;
  border-color: #00A474;
}

.navbar-nav {
    color: black;
}

/* home */
.how_to {
  margin: auto;
  width: 80%;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.thumbnail {
  margin-top: 10px;
}

.thumbnail_edit {
  margin-top: 15px;
}

.trim {
  position:relative;
  overflow: hidden;
  width:25px;
  height:25px;
  border-radius:50%;
}
.trim img{
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* facilities */
.right {
  float: right;
}

.left {
  float: left;
}

.facilities {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  } p {
    padding-top: 10px;
  }


}

.facility_button_wrapper {
  a {
    margin-right: 10px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* kids */

.kids {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .kid_name {
    margin-top: 5em;
    padding-top: 0;
    font-size: large;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

pre {
  background-color: transparent;
  border: 0px;
}

/* posts */
.post_index {
  margin-top: 40px;
}

/* show for kid: facility */
.logo_for_kid {
  font-family: 'cinecaption';
  width: 60%;
}

.box {
    font-family: 'cinecaption';
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    box-sizing: border-box;
    input {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 30px 10px;
    }
    .kid_name {
      font-size: large;
    }
}

.post_button_wrapper {
  font-family: 'cinecaption';
  margin: 0px 20px 100px;
  input {
    border: 0px;
  }
  label {
    font-size: large;
  }

}


/* back icon */
.back_icon {
  input {
    width: 10%;
    margin-left: 10%;
    border: 0px;
  }
}

/* show for kid: kid */
.kids_info_wrapper {
  font-family: 'cinecaption';
  text-align: center;
  h2 {
    margin-bottom: 10px;
    font-size: 3.5em;
    letter-spacing: -1px;
    text-align: center;
    font-weight: normal;
  }
  pre {
    background-color: transparent;
    border: 0px;
    font-family: 'cinecaption';
  }
  .badge {
    background-color: #58A7D2;
  }
}

.action_wrapper {
  font-family: 'cinecaption';
  margin: 40px 40px 100px;
  padding: 0px 50px;
  input {
    border: 0px;
    margin: 0px 15px;
  }
  label {
    font-size: small;
  }
}

.mail_button_wrapper {
  padding: 0px 40px 250px;
}

.introduction_button_wrapper {
  padding: 0px 40px 200px;
  margin-bottom: 200px;
}


/* edit for kid: kid */
.edit_for_kid {
  font-family: 'cinecaption';
  textarea {
    height: 200px;
  }
}


/* after action for kid: kid */
.back_home {
  padding: 0px 100px;
  text-align: center;
  input {
    width: 10%;
    border: 0px;
    margin-left: 0%;
  }
}


/* new for kid: post */
.post_new_for_kid {
  font-family: 'cinecaption';
  margin: auto auto auto 100px;
  width: 80%;
  padding-bottom: 100px;
  span {
    .select2-selection {
      border: solid 3px #87CEEB;
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    }
    ul {
      height: 30px;
      margin-bottom: 20px;
    }
  }
  label {
    margin-top: 20px;
  }
  .form_control {
    padding: 10px;
    border: solid 3px #87CEEB;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  }
  .btn {
    margin-bottom: 100px;
  }
}




/* index for kid: post */
.post_index_for_kid {
  font-family: 'cinecaption';
  margin: auto;
  padding-bottom: 100px;
  .post_index_logo {
    width: 60%;
  }
  .card-columns {
    .card_wrapper {
      height: auto;
      margin: 5px 0px;
    }
    .card {
      padding: 5px 5px;
      border: solid 5px #FFBB00;
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    }
    .card-body {
      font-family: 'cinecaption';
    }
    input {
      color: #0099ff;
      text-align: left;
      border: 0px;
      padding: 1px;
    }
  }
}



.post_show_for_kid {
  @import url(https://fonts.googleapis.com/css?family=Indie+Flower);
  body {
    margin: 0;
    padding: 0;
    background: lightgoldenrodyellow;
  }
  .paper {
    position: absolute;
    height: 550px;
    width: 450px;
    background: rgba(255,255,255,0.9);
    margin: -200px -225px;
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 5px 0px #888;
  }
  .paper::before {
    content: '';
    position: absolute;
    left: 45px;
    height: 100%;
    width: 2px;
    background: rgba(255,0,0,0.4);
  }
  .lines {
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
  }
  .text {
    position: absolute;
    top: 65px;
    left: 55px;
    bottom: 10px;
    right: 10px;
    line-height: 25px;
    font-family: 'cinecaption';
    overflow: hidden;
    outline: none;
    pre {
      font-family: 'cinecaption';
      font-size: 15px;
    }
  }
  .holes {
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    background: lightgoldenrodyellow;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px 0px #888;
  }
  .hole-top {
    top: 10%;
  }
  .hole-middle {
    top: 50%;
  }
  .hole-bottom {
    bottom: 10%;
  }
}
